body {
    margin: 0 auto;
}

#container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    margin-top: 10%;
}

.card {
    background-color: rgb(231, 229, 229);
    padding: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 260px;
}

.card h2 {
    font-size: 14pt;
}

.card h1 {
    color: rgb(38, 96, 125);
    display: inline;
    margin-bottom: 10%;
}

.card span {
    color: rgb(38, 96, 125);
}

.card ul.checkList {
    font-size: 10pt;
    text-align: left;
    list-style: none;
    text-align: left;
    padding: 0;
}