#container {
    margin: 0 400px;
}

header {
    border-bottom: 1px solid #000;
}

header img {
    float: right;
    margin-top: -110px;
}

header h2 {
    margin-top: -10px;
}
 
fieldset {
    background: #d0c644c4;
}

fieldset legend {
    font-weight: 900;
}

fieldset input {
    width: 100%;
}

button {
    width: 300px;
    margin-left: 10px;
    float: left;
}